{% extends "base.html" %}

{% block title %}Progression Chart (Courses){% endblock %}
{% block content %}
<h1>Progression Chart (Courses)</h1>
<p>Add the list of courses that you want in your schedule. (Specific sections details will be touched on later) </p>
<p>Check the courses to include the courses</p>

</br>

<div class="input-group mb-3" id="course1">
    <div class="input-group-text">
        <input class="form-check-input mt-0" id="check1" onclick="check();" type="checkbox" value="" aria-label="Checkbox for following text input">
    </div>
    <input type="text" id="course_name1" value="Write course name here..." class="form-control" aria-label="Text input with checkbox">
    <input type="text" id="course_number1"value="Write course number here..." class="form-control">
</div>

<br>

<input onclick="add_course();" class="add-course" type="button" value="Add a Course">
<input onclick="remove_course();" class="remove-course" type="button" value="Remove a Course">


<input onclick="confirm_courses();" class="confirm-course" type="submit" value="Confirm these courses">


{% endblock %}