<html lang="en"><head>
    <title>Select players</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styleSheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:100px}
    /*@media only screen and (max-width: 760px) {
    .h1 {font-size: 10px;}
    } */
    </style>
    </head>
    <body data-new-gr-c-s-check-loaded="14.1093.0" data-gr-ext-installed="" style="background-color:#f44336">
    

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px height=100%">
      <h1 class="w3-margin w3-jumbo">Selectioner le Nombre de Joueurs</h1>
      <p class="w3-xlarge"></p>
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">2 Joueurs</button><br>
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">3 Joueurs</button><br>
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">4 Joueurs</button><br>
      
    </header>
    <!--footer-->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">  

       <p style="font-size:10px">Présenté par William Lafond, Jun Ho Oh, Cedric Draghici et Orlando Qiu</p>
      </footer>
    <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script>
    
    
    </body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>